# Environment & Secrets
.env
.env.local
*.json
!vercel.json


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Temporary scratch
scratch/

# Node (jika ada)
node_modules/

# Brief & PRD docs
brief.md
prd.md
